@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);

html, body { 
	padding: 0px; 
	border: 0px; 
	margin-top: 0px;
	background-color: #a7cece;
	background: url(images/background.png);
	background-repeat: repeat-x;
}

nav {
	display: block;
}

.global-nav {
border-bottom: 1px solid rgba(0,0,0,0.15);
height: 46px;
position: relative;
width: 100%;

}

.global-nav-inner {
	background: #ffffff;
	height: 46px;
}

.global-nav .container {
	max-width: 1190px;
	text-align: center;
	width: auto;
}

.container {
	position: relative;
	margin: 0 auto;
}

.icon-turtle {
	display: inline-block;
	margin-top: 6px;
	width: 30px;
	height: 30px;
}

