Here is your token: <%= @user.password_token %>

<h3>WARNING:</h3>
This token should be sent by email but, since the project is still in progress (see the 'To do' list on the README file), if you want to continue you need to press the following link:</br>

<a href="/users/request_password/<%= @user.password_token %>">Enter a new password</a>
